.about {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 300px;
  width: 700px;
  padding: 60px 60px;
  height: 650px;
  overflow: hidden;

  & > h2 {
    display: inline;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  & > button {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(249, 250, 251, 1),
      rgba(249, 250, 251, 1)
    );
    z-index: 5;
    transition: opacity 0.5s ease-out;
  }
  &.expanded::after {
    opacity: 0;
  }

  & p {
    margin-bottom: 24px;
  }
}
