@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400&family=Roboto:ital@1&display=swap");

@font-face {
  font-family: zephyr;
  src: url("/fonts/zephyr.otf") format("opentype");
}

* {
  font-family: Roboto sans-serif;
}

h1 {
  font-family: Roboto sans-serif;
}

body {
  background: #f4f4f4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
