@font-face {
  font-family: Display;
  src: url("/fonts/Harmond-SemiBoldCondensed.otf") format("opentype");
}
@font-face {
  font-family: Regular;
  src: url("/fonts/Mukta-Regular.ttf") format("truetype");
}

* {
  font-family: Regular, sans-serif;
}

h1 {
  font-family: Display, sans-serif;
}

body {
  background: #fffdf9;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
