@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400&display=swap");

@font-face {
  font-family: Sage;
  src: url("/fonts/Sage.otf") format("opentype");
}
@font-face {
  font-family: Harmond;
  src: url("/fonts/Harmond-SemiBoldCondensed.otf") format("opentype");
}
@font-face {
  font-family: Velour;
  src: url("/fonts/Velour Medium.otf") format("opentype");
}
@font-face {
  font-family: Regular;
  src: url("/fonts/Mukta-Regular.ttf") format("truetype");
}

* {
  font-family: Velour, sans-serif;
}

h1 {
  font-family: Velour, sans-serif;
}

h2 {
  font-family: Harmond;
}

p {
  font-family: Public Sans, sans-serif;
  font-weight: 200;
}

body {
  background: #fffdf9;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
