@font-face {
  font-family: Sage;
  /* src: url("/fonts/Harmond-SemiBoldCondensed.otf") format("opentype"); */
  src: url("/fonts/Sage.otf") format("opentype");
}
@font-face {
  font-family: Harmond;
  src: url("/fonts/Harmond-SemiBoldCondensed.otf") format("opentype");
}
@font-face {
  font-family: Regular;
  src: url("/fonts/Mukta-Regular.ttf") format("truetype");
}

* {
  font-family: Regular, sans-serif;
}

h1 {
  font-family: Sage, sans-serif;
}

body {
  background: #fffdf9;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
